<!DOCTYPE html>
<html>
    <head>
        <title>Dinos EJS</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <%- body %> 
    </body>
</html>