<h1>Creature index page</h1>
<a href="/creatures/new">New Creature</a>
<% creatures.forEach(creature => { %>
    <div class="card">
        <a class="creature-type" href="/creatures/<%= creature.id %>"><%= creature.type %> 
            <img class="picture" src="<%= creature.img_url %>"></a>
    </div>
<% }) %>