<h1>New Creature</h1>
<a href="/creatures">Creatures Index</a>

<form method="POST" action="/creatures">
    <label>Type</label>
    <input type="text" name="type">

    <label>IMG URL</label>
    <input type="text" name="img_url">
    
    <input type="submit">
</form>